/* Resetting some default styles */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f8f8f8;
    padding: 20px;
}

h1, h2 {
    font-family: 'Cormorant Garamond', serif;
}

h1 {
    color: #0066cc;
    margin-bottom: 10px;
}

h2 {
    color: #009933;
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 15px;
}

/* Image styling */
.image {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* List styling */
.list {
    margin-bottom: 15px;
}

.bullets {
    list-style-type: disc;
    margin-left: 20px;
}

/* Link styling */
.link a {
    color: #990033;
    text-decoration: none;
    font-weight: bold;
}

.link a:hover {
    text-decoration: underline;
}

/* Button styling */
button {
    margin-top: 15px; /* Add space at the top of the button */
    margin-right: 10px; /* Add space to the right of the button */
    padding: 10px 15px;
    background-color: #990033;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #660022;
}

